In [20]:
import pandas as pd

In [21]:
#Read in CSV files

df_201812= pd.read_csv("2018_datasets/JC-201812-citibike-tripdata.csv")

In [22]:
df_201812.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [23]:
len(df_201812.tripduration)

20205

In [24]:
#create csv file to hold 2019 data
df_201812.to_csv("2018_Master.csv", index=False)

In [25]:
#create list of dates 

months = ["11", "10", "09", "08", "07", "06", "05", "04", "03", "02", "01"]

In [26]:
# loop through files

for file in months:
    
    df = pd.read_csv(f'2018_datasets/JC-2018{file}-citibike-tripdata.csv')
    
    print(len(df))
    
    df.to_csv('2018_Master.csv', mode='a', header=False, index=False)

24910
39138
39022
44432
42268
40937
34456
23634
17109
15104
12677

In [27]:
df = pd.read_csv('2018_Master.csv')

In [28]:
df.to_csv('Master.csv', index=False)

In [29]:
#Read in CSV files

df_2019= pd.read_csv("2019_Master.csv")

In [30]:
df_2019.to_csv('Master.csv', mode='a', header=False, index=False)

In [31]:
#Read in CSV files

df_2020= pd.read_csv("2020_Master.csv")

In [32]:
df_2020.to_csv('Master.csv', mode='a', header=False, index=False)

In [33]:
#Read in CSV files

df_2017= pd.read_csv("2017_Master.csv")

In [34]:
df_2017.to_csv('Master.csv', mode='a', header=False, index=False)