In [2]:
import pandas as pd

In [3]:
##jul to Dec files

#Read in CSV file

df_201912= pd.read_csv("2019_datasets/JC-201912-citibike-tripdata.csv")

In [4]:
df_201912.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [5]:
len(df_201912.tripduration)

19728

In [6]:
#create csv file to hold 2019 data
df_201912.to_csv("2019_Master.csv", index=False)

In [7]:
#create list of dates 

months = ["11", "10", "09", "08", "07", "06", "05", "04", "03", "02", "01"]

In [8]:
# loop through files

for file in months:
    
    df = pd.read_csv(f'2019_datasets/JC-2019{file}-citibike-tripdata.csv')
    
    print(len(df))
    
    df.to_csv("2019_Master.csv", mode='a', header=False, index=False)

30797
42253
49244
48711
43746
39430
36135
33056
23606
18565
19676

## Old code to create overall master 2019 dataset

In [149]:
df = pd.read_csv('201911-citibike-tripdata.csv')

In [150]:
df.to_csv('2019_Master.csv', mode='a', header=False, index=False)

In [160]:
df = pd.read_csv('201910-citibike-tripdata.csv')

df.to_csv('2019_Master.csv', mode='a', header=False, index=False)

MemoryError: Unable to allocate 16.0 MiB for an array with shape (2092573,) and data type float64

In [154]:
#Read in CSV files

df_2019= pd.read_csv("2019_Master.csv")

In [155]:
df_2020 = pd.read_csv("2020_Master.csv")

In [156]:
master = df_2019.append(df_2020)

In [157]:
#create csv file to hold all data
master.to_csv("2019and2020_Master.csv", index=False)