In [1]:
import pandas as pd

In [117]:
#Read in CSV files

df_202008= pd.read_csv("JC-202008-citibike-tripdata.csv")

In [118]:
df_202008.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,561,2020-08-01 00:00:16.5960,2020-08-01 00:09:38.5610,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42303,Customer,1994,2
1,236,2020-08-01 00:00:46.3900,2020-08-01 00:04:42.8890,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44989,Subscriber,1996,1
2,384,2020-08-01 00:02:38.9250,2020-08-01 00:09:03.7590,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,41696,Subscriber,1984,2
3,1302,2020-08-01 00:03:27.0270,2020-08-01 00:25:09.2120,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42310,Customer,1993,1
4,5561,2020-08-01 00:03:57.4810,2020-08-01 01:36:38.5000,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42346,Customer,1995,2

In [119]:
len(df_202008.tripduration)

43267

In [120]:
#create csv file to hold all data
df_202008.to_csv("2020_Master.csv", index=False)

In [121]:
#create list of dates 

months = [7, 6, 5, 4, 3, 2, 1]

In [122]:
# loop through files

for file in months:
    
    df = pd.read_csv(f'JC-20200{file}-citibike-tripdata.csv')
    
    print(len(df))
    
    df.to_csv('2020_Master.csv', mode='a', header=False, index=False)

38680
36921
25077
9268
17719
22962
26020

In [123]:
#Read in CSV files

df_master= pd.read_csv("2020_Master.csv")

len(df_master)

219914